*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}
body {
  font-family: "Poppins", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
[class*="col-"] {
  width: 100%;
  height: 400px;
  border: 2px dotted blue;
}
.container {
  background-color: red;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  border: 4px double black;
}
@media screen and (min-width: 640px) {
  .container {
    background-color: blue;
    max-width: 1140px;
  }

  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
@media screen and (min-width: 1200px) {
  .container {
    background-color: rgb(22, 167, 22);
    max-width: 1140px;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
